*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
    overflow: hidden;
}
.back-img{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('img1.jpg');
    background-position: center ;
    background-size: cover;
    position:relative;
    
}
.back-img::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content: " ";
    background:  rgba(50, 121, 252, 0.353);
    width: 100%;
    height: 90vh;
}
.heading{
    font-size: 74px;
    text-align: center;
    color: white;
    padding: 40px;
}
span{
    color:rgb(243, 232, 77);
}
.small-head{
    padding: 40px 20px ;
    font-size: 25px;
    color: white;
    text-align: center;

}
.text{
    z-index: 1;
}
.btn{
    z-index: 1;
}
.btn button{
    padding: 30px;
    outline: none;
    border: none;
    background: rgb(243, 232, 77);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;

    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    padding: 20px 40px;
}
.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.logo{
    width: 30%;
}
.menu{
    width: 70%;
}
.logo{
    letter-spacing: 2px;
    font-size: 30px;
}
.burger-menu div{
    width: 25px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 2px;
    transition: all 0.3s ease-out;
}
.burger-menu{
    display: none;
}
@media only screen and (max-width:1080px)
{
    body{
        overflow-x: hidden;
    }
    nav{
        padding: 20px 0px;
        overflow-x: hidden;
    }
    .nav-link{
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        height: 90vh;
        background-color: aqua;
    }
    .menu{
        position: absolute;
        right: 0px;
        top: 10vh;
        width: 50%;
        z-index: 2;
        transform: translateX(100%);
        transition: all 0.3s ease-out;
        opacity: 0;
    }
    .toggled{
        transform: translateX(0%) !important;
        opacity: 1;
     
    }
    .burger-menu{
        display: block;
        cursor: pointer;
    }
    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-3px,-4px);
    }
}
@media only screen and (max-width:512px)
{
    .heading{
        font-size: 54px;
    }
    .small-head{
        font-size: 20px;
    }

}
@media only screen and (max-width:420px)
{
    .heading{
        font-size: 54px;
    }
    .small-head{
        font-size: 15px;
    }

}
