*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif; 
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins' , sans-serif; 
    z-index: 10;
}
.logo{
    color: rgb(221, 221, 221);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(221, 221, 221);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(221, 221, 221);
    margin: 5px;
    transition: all 0.5s ease;
}
.landing-image{
    width: 100%;
    height: 92vh;
    overflow: hidden;
    position: relative;
    
}
.landing-image img{
    width: 100%;
    transition: all 0.5s ease-out;
}
.landing-image .text{
 color: white;
 background-color: black;
 opacity: 0;
 position: absolute;
 left: 0;
 top: 0;
 transition: all 0.5s ease-out;
 width: 100%;
 padding-left: 175px;
}
.landing-image .text:hover
{
    opacity: 0.4;
}
.card-container{
    width: 200px;
    height: 300px;
}
.card-gallery{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

}
.card{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    transform-style: preserve-3d;
}
.card-container:hover .card{
    transform : rotateY(180deg);
}
.card figure{
    width: 100%;
    height: 100%;
    position:absolute;
    margin: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow:  0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);;
}
.card .front{
    text-align: center;
    background-color: #5d4954;
    color: white;
    padding:10px;
}
.front p{
    padding: 10px;
}
.back button{
    border: none;
    border-radius: 10px;
    background-color: tomato;
    color: white;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    margin: 5px;
}
.back input{
    border: none;
    width: 100%;
    border-radius: 10px;
    font-size: 14px;
    height: 20px;
    
}
.card .back{
 transform:rotateY(180deg);
 background-color: #814f6b;
 color: white;
 padding:20px;
}
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
    .landing-image{
        
    }
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .card-gallery{
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 130px;
    }
    .card-container{
        padding-top: 30px;
    }
    .landing-image{
        
        
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 35%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 10;

    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
        
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navlinkfade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
